<div>
  <h1 style="text-align: center;">{{this.title}}</h1>
  <ul>
    <li
      style="list-style: none; margin-bottom: 10px; border: 1px solid; padding: 1rem"
    >
      <p>Precio: ${{this.price}}</p>
      <p>Descripción: {{this.description}}</p>
      <p>Stock: {{this.stock}}</p>
      <button>Agregar al Carrito</button>

    </li>
  </ul>
</div>