<div>
  <h1>Restaura la contraseña del usuario</h1>
  <form id="restoreForm">
    <label>Correo electrónico</label>
    <input name="email" type="email" id="emailInput" />
    <input type="submit" value="Restaurar" />
  </form>
</div>
<script src="/js/restore.js"></script>