<div>
  <h2 style="text-align: center;">Tu compra fue realizada con éxito</h2>
  <p>Código de compra: {{this.ticket.code}}</p>
  <p>Monto: {{this.ticket.amount}}</p>
  <a href="/">Volver al inicio</a>
</div>